<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人站点</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/updown/css/updown.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>
{#导航条#}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/">{{ username }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">园子 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">新闻</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.username %}
           <li><a href="/{{ request.user.username }}/"><span class="glyphicon glyphicon-user"></span>&nbsp{{ request.user.username }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">菜单 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">修改密码</a></li>
            <li><a href="#">**</a></li>
            <li><a href="#">个人信息</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/">注销</a></li>
          </ul>
        </li>
              {% else %}
              <li><a href="/login/">登录</a></li>
              <li><a href="#">注册</a></li>

          {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{#-------------------------#}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">随笔分类（{{ article_sum.0.s }}）</h3>
                </div>
                <div class="panel-body">
                    {% for obj in cate_ret %}
                    <span><a href="/{{ user.username }}/category/{{ obj.0 }}">{{ obj.0 }}({{ obj.1 }})</a></span>   <br>
                    {% endfor %}

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">标签分类</h3>
                </div>
                <div class="panel-body">
                    {% for obj in tag_list %}
                    <span><a href="/{{ user.username }}/tag/{{ obj.0 }}">{{ obj.0 }}({{ obj.1 }})</a></span>   <br>
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">日期归档</h3>
                </div>
                <div class="panel-body">
                    {% for obj in date_list %}
                    <span><a href="">{{ obj.0 }}({{ obj.1 }})</a></span>   <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="article_list">
            {% block content %}
                {% for article in article_list %}
                <div class="article_item">
                    <h5><a href="/{{ user.username }}/artical/{{ article.pk }}">{{ article.title }}</a></h5>
                <div>
                    <span><a href=""><img width="80px" height="80px" src="/static/img/timg.jpg" alt=""></a></span><span>{{ article.desc }}</span>
                </div>
                </div>
                <div class="artical_info">
                    <a href="" >{{ article.user.username }}</a>
                <span>发布于{{ article.create_time|date:"Y-m-d H:i" }}</span>
                <span class="glyphicon glyphicon-edit pull-right"> 评论（{{ article.comment_count }}）</span>
                <span class="glyphicon glyphicon-thumbs-up pull-right"> 点赞（{{ article.up_count }}）</span>
                </div>
                <hr>

            {% endfor %}


            {% endblock %}
        </div>


        </div>
        <div class="col-md-3">33</div>
    </div>

</div>
<script src="/static/js/jquery-3.3.1.js"></script>
{#<script>#}
{#    $(function () {#}
{#        $(".action").click(function () {#}
{#            var is_up = $(this).hasClass("diggit");#}
{#            console.log(is_up);#}
{##}
{##}
{#            $.ajax({#}
{#                url:"/updown/",#}
{#                type:"post",#}
{#                date:{is_up:is_up,article_id:{{ artical.pk }},user:`{{ request.user }}`}#}
{#             })#}
{##}
{#        })#}
{#    })#}
{#</script>#}


</body>
</html>